/* Set the font for the whole document to sans-serif and the background color to light grey */
body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
}

/* Style the wallet address display */
#wallet-address {
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
}

/* Style the top nav element */
.top-nav {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #3f51b5;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

/* Style the domain name element */
#domain-name {
  position: absolute;
  left: 10px;
}

/* Style the M#matic-price element */
#matic-price {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Style the MetaMask connection button */
button.meta-mask-button {
  position: absolute;
  right: 20px;
}

button.meta-mask-button:hover {
  background-color: #5c6bc0;
}


/* Style the container element */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Style the heading */
h1 {
  text-align: center;
  font-size: 24px;
  color: #3f51b5;
}

/* Style the form */
form {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Style the label element */
label {
  font-size: 16px;
}

/* Style the text input element */
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the submit button element */
input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the balance display element */
#balance {
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
}


/* Style the multiplication result display element */
#multiplication-result {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
}


html, body {
  overflow-x: hidden;
}
