<!doctype html>
<html lang="en">
  <head>
    <title>Wallet Balance Checker</title>
    <script src="js/getwalletbalance.js"></script>
  </head>
  <body>
    <h1>Wallet Balance Checker</h1>
    <form id="form" action="http://localhost:5000/getwalletbalance" method="get">
      <label for="wallet_address">Enter the address of your wallet:</label><br>
      <input type="text" id="wallet_address" name="wallet_address"><br>
      <input type="submit" value="Check Balance">
    </form>
    <div id="balance"></div>
  </body>
</html>
